<div class="icons">
    <a href="https://instagram.com">
        <i class="fa-brands fa-square-instagram fa-3x"></i>
    </a>
    <a href="https://github.com">
        <i class="fa-brands fa-square-github fa-3x"></i>
    </a>
    <a href="https://linkedin.com">
        <i class="fa-brands fa-linkedin fa-3x"></i>
    </a>
</div>

<script src="/resources/app.js"></script>