<nav class="navbar">
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/emulators">Emulators</a></li>
        <div class="dropdown">
            <a href="/vault">The Vault</a>
            <div class="content">
                <a href="/ps2">PS2</a>
                <a href="/ps3">PS3</a>
                <a href="/xbox360">XBOX360</a>
                <a href="/wii">WII</a>
            </div>
        </div>
    </ul>
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/emulators">Donate </a></li>
    </ul>
</nav>