<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <title>Dead end man..</title>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <%- include("../partials/navbar.ejs") %>

    <main>
        <div id="error-info">
            <h2>Error 404</h2>
            <p>Page not found!</p>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>