<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
    <title>RetroGame Vault</title>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <%- include("../partials/navbar.ejs") %>

    <main>
        <h2 class="questions">Who are we?</h2>
        <p class=" infobox">
            Welcome to the ultimate treasure trove of gaming history! We are RetroGame Vault! Dive into our
            extensive archive filled
            with classic titles, hidden gems, and beloved favorites spanning decades of gaming nostalgia. Explore
            meticulously preserved games, immerse yourself in full-color manual scans, and uncover the stories behind
            each pixelated masterpiece. Whether you're a seasoned gamer seeking a trip down memory lane or a curious
            explorer venturing into uncharted territories, our vault has something special waiting for you. Start your
            journey now and let the adventure begin!
        </p>

        <table id="makeItTwirl">
            <tbody>
                <tr>
                    <td><a href="emulators.html">Emulators</a></td>
                    <td class="left-align">How to download, setup and use the emulators.</td>
                </tr>
                <tr>
                    <td><a href="vault.html">The Vault</a></td>
                    <td class="left-align">Every game we got for the most popular systems.</td>
                </tr>
                <tr>
                    <td><a href="contact.html">Contact</a></td>
                    <td class="left-align">How can you keep in touch with us?</td>
                </tr>
                <tr>
                    <td><a href="">Useful Links</a></td>
                    <td class="left-align">Browse for more infomarition or FAQ.</td>
                </tr>
                <tr>
                    <td><a href="https://paypal.com">Donate</a></td>
                    <td class="left-align">Did you find our work useful? Buy us a banana :))</td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>