div {
    background-color: salmon;
    width: 100px;
    height: 100px;
    display: inline-block;
}

span {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: inline-block;
}